<div class="container">
    <div class="columns is-multiline mt-3">
        <div class="column is-3">
            <div cid="bb"lass="card has-background-purple">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                    <div class="portfolio-caption show-modal-echo" data-target="modal">
                        <p class="navbar-custom-text">Echo</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card has-background-purple">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                    <div class="portfolio-caption">
                        <p class="navbar-custom-text">Rango</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card has-background-purple">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                    <div class="portfolio-caption">
                        <p class="navbar-custom-text">3D Pacman</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="card has-background-purple">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                    <div class="portfolio-caption">
                        <p class="navbar-custom-text">Drawing Identifier</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal" class="modal modal-full-screen modal-fx-fadeInScale">
            <div class="modal-content modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Modal title</p>
                    <button class="modal-button-close is-large delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae cum enim quisquam ducimus, facilis, esse nesciunt porro,
                    officiis totam veniam libero! Nisi hic vel aspernatur doloremque enim ut blanditiis perferendis, repudiandae
                    assumenda quibusdam delectus quam eum non maxime ullam quod qui ab in dolorem dolores vero amet! Perferendis
                    incidunt unde blanditiis harum vel velit, accusantium praesentium autem ut voluptas, voluptatibus fugiat. Molestiae
                    maiores aspernatur expedita, magnam commodi suscipit explicabo labore temporibus tenetur distinctio mollitia
                    facere eum ad officia? Sit eaque culpa ea saepe facilis. Consequatur, architecto. Optio eveniet cupiditate accusantium
                    vero consectetur, maiores eum culpa assumenda reprehenderit sequi aut nihil!
                </section>
                <footer class="modal-card-foot">
                    <button class="modal-button-close button is-success">Save changes</button>
                    <button class="modal-button-close button">Cancel</button>
                </footer>
            </div>
        </div>
    </div>
</div>
