/* utils classes */
.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.section-is-half {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 3.25rem);
    word-break: break-all;
    flex-direction: column;
}

.social-icons {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.hover-color-change {
    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

.hover-color-change:hover {
    background-color: rgb(146, 151, 249) !important;
}

.portfolio-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    color: white;
    background: rgba(50, 29, 65, 0.9);
    transition: opacity .25s ease;
}

.card-image:hover .portfolio-caption {
    opacity: 1;
}

/* transition effect */
.transition-fade {
    opacity: 1;
    transition: 0.5s;
}

html.is-animating .transition-fade {
    opacity: 0;
}

/* html overrides */
html {
    overflow-y: auto;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 15%, rgba(20,3,33,0.917294448681092) 70%, rgba(0,0,0,1) 100%);
}

html body {
    font-family: 'Ubuntu', serif !important;
}

/* navbar customization */
body::-webkit-scrollbar {
    width: 0.8em;
}
 
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 32px rgba(0, 0, 0, 0.2);
}
 
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.navbar-item {
    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

.navbar-item:hover {
    background-color: rgb(41, 41, 41) !important;
}

.navbar-custom-text {
    font-size: 1.5rem;
    /* color: rgb(78, 70, 81); */
    color: rgb(166, 162, 188);
}

.navbar-current {
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
    color: rgb(146, 151, 249);
}

/* Mobile navbar color override */
@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: black;
    }
}