/* new stuff */
.custom-navbar-text {
    font-size: 1.5rem;
    color: rgb(150, 150, 150);
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.transition-fade {
    opacity: 1;
    transition: 0.5s;
}

html.is-animating .transition-fade {
    opacity: 0;
}

/* overrides */
html { overflow-y: auto; }

html body {
    font-family: 'Ubuntu', serif !important;
}

body::-webkit-scrollbar {
    width: 0.8em;
}
 
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 32px rgba(0, 0, 0, 0.2);
}
 
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.navbar-item:hover {
    background-color: rgb(41, 41, 41) !important;
}
