<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/brands.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/solid.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <script defer src="{{ url_for('static', filename='js/swup.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/swup.config.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/navbar-transition.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/navbar-setup.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/modal-click.js') }}"></script>
    <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    {% include "navbar.html" %}
    <main id="swup" class="transition-fade">
        {% block body %}{% endblock %}
    </main>
</body>
</html>