<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('home') }}">
                <p class="navbar-custom-text navbar-current">Home</p>
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{{ url_for('portfolio') }}">
                    <p class="navbar-custom-text">Portfolio</p>
                </a>
                <a class="navbar-item" href="{{ url_for('journey') }}">
                    <p class="navbar-custom-text">Journey</p>
                </a>
                <a class="navbar-item" href="{{ url_for('about') }}">
                    <p class="navbar-custom-text">About</p>
                </a>
            </div>
        </div>
    </div>
</nav>